
html *
{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

main {
  background-image: image-url('vivere_logo.jpg');
  background-position: right top;
  background-size: 120px;
  background-repeat: no-repeat;
  background-color: white;
}